# üìù Exercise M1.01

Imagine we are interested in predicting penguins species based on two of their
body measurements: culmen length and culmen depth. First we want to do some
data exploration to get a feel for the data.

What are the features? What is the target?

The data is located in `../datasets/penguins_classification.csv`, load it with
`pandas` into a `DataFrame`.

In [2]:
import pandas as pd

penguins = pd.read_csv('./penguins_classification.csv')
penguins.head()

   Culmen Length (mm)  Culmen Depth (mm) Species
0                39.1               18.7  Adelie
1                39.5               17.4  Adelie
2                40.3               18.0  Adelie
3                36.7               19.3  Adelie
4                39.3               20.6  Adelie

In [5]:
features = [
    'Culmen Length (mm)',
    'Culmen Depth (mm)'
]
target = 'Species'
# X = penguins[features]
# y = penguins[target]
# X.head()

   Culmen Length (mm)  Culmen Depth (mm)
0                39.1               18.7
1                39.5               17.4
2                40.3               18.0
3                36.7               19.3
4                39.3               20.6

Show a few samples of the data.

How many features are numerical? How many features are categorical?

In [9]:
penguins.head(20)

    Culmen Length (mm)  Culmen Depth (mm) Species
0                 39.1               18.7  Adelie
1                 39.5               17.4  Adelie
2                 40.3               18.0  Adelie
3                 36.7               19.3  Adelie
4                 39.3               20.6  Adelie
5                 38.9               17.8  Adelie
6                 39.2               19.6  Adelie
7                 34.1               18.1  Adelie
8                 42.0               20.2  Adelie
9                 37.8               17.1  Adelie
10                37.8               17.3  Adelie
11                41.1               17.6  Adelie
12                38.6               21.2  Adelie
13                34.6               21.1  Adelie
14                36.6               17.8  Adelie
15                38.7               19.0  Adelie
16                42.5               20.7  Adelie
17                34.4               18.4  Adelie
18                46.0               21.5  Adelie
19                37.8               18.3  Adelie

In [11]:
# Write your code here.
numerical_features = penguins[features].select_dtypes(include=['number'])
num_numerical_features = numerical_features.shape[1]
print(numerical_features)
print(f'Number of numerical features: {num_numerical_features}')
categorical_features = penguins[features].select_dtypes(include=['object', 'category'])
num_categorical_features = categorical_features.shape[1]
print(f'Number of categorical features: {num_categorical_features}')
# print(categorical_features)

     Culmen Length (mm)  Culmen Depth (mm)
0                  39.1               18.7
1                  39.5               17.4
2                  40.3               18.0
3                  36.7               19.3
4                  39.3               20.6
..                  ...                ...
337                55.8               19.8
338                43.5               18.1
339                49.6               18.2
340                50.8               19.0
341                50.2               18.7

[342 rows x 2 columns]
Number of numerical features: 2
Number of categorical features: 0
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[342 rows x 0 columns]

What are the different penguins species available in the dataset and how many
samples of each species are there? Hint: select the right column and use the
[`value_counts`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)
method.

In [ ]:
# Write your code here.

Plot histograms for the numerical features

In [ ]:
# Write your code here.

Show features distribution for each class. Hint: use
[`seaborn.pairplot`](https://seaborn.pydata.org/generated/seaborn.pairplot.html)

In [ ]:
# Write your code here.

Looking at these distributions, how hard do you think it would be to classify
the penguins only using `"culmen depth"` and `"culmen length"`?